{%extends 'layout.html'%}

{%block content%}
    <div class="titleType">
        <span class="">课 / 程 / 推 / 荐 </span>
    </div>
    
    <div class="swiperBox">
        <div class="swiperTitle">
            
            <input type="text" placeholder="请输入希望推荐的课程的关键字" class="searchInput" id='tuijianInput'> 
            <button class="searchBtn" id="tuijianBtn">设置推荐关键字</button>
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper" id="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/public/showCover/cover1.jpg" alt="" width="230px">
                    <div class="itemTitle">我是标题</div>
                    <div class="kaishixuexi"><a href="/view?contentid={{content.id}}">开始学习</a></div>
                </div>
                <div class="swiper-slide">Slide 2</div>
                <div class="swiper-slide">Slide 3</div>
                <div class="swiper-slide">Slide 4</div>
                <div class="swiper-slide">Slide 5</div>
                <div class="swiper-slide">Slide 6</div>
                <div class="swiper-slide">Slide 7</div>
                <div class="swiper-slide">Slide 8</div>
                <div class="swiper-slide">Slide 9</div>
                <div class="swiper-slide">Slide 10</div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>

    <div class="titleType">
            <span class="">课 / 程 / 搜 / 索 </span>
    </div>

    <div class="searchBOx">
        <input type="text" id="searchInput" class="searchInput" placeholder="输入内容搜索课程">
    <button id="searchBtn" class="searchBtn">搜索课程</button>
    </div>

    <div class="titleType">
            <span class="">课 / 程 / 展 / 示 </span>
    </div>
    <div class="div" id="contentList">
        {%for content in contents%}
        <div class="listBox">
            <h1>{{content.title}}</h1>
            <p class="colDefault">
                作者：<span class="colInfo">{{content.user.username}}</span> -
                时间：<span class="colInfo">{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}}</span> -
                阅读：<span class="colInfo">{{content.views}}</span> -
                评论：<span class="colInfo">{{content.comments.length}}</span>
            </p>
            <dfn>
                <p>
                    <span class="jianjie">课程简介</span>{{content.description}}
                    
                </p>
                <p><span class="jianjie">课程Tag</span><span class='kechengtag'>{{content.category.name}}</span></p>
        
            </dfn>
            <div><span class="jianjie">课程封面</span><img src="public/showCover/{{content.coverUrl}}" alt="" width="400px" height="255px" style="display:block;margin:0 auto"></div>
            <div class="function"><a href="/view?contentid={{content.id}}">开始学习</a></div>
        </div>
        {%endfor%}
    </div>
    

    <div class="pager">
        <ul class="clear">

            <li class="previous">

                {%if page <= 1%}
                <span>没有上一页了</span>
                {%else%}
                <a href="/?category={{category}}&page={{page-1}}">上一页</a>
                {%endif%}

            </li>

            {%if pages > 0%}
            <li>
                <strong>{{page}} / {{pages}}</strong>
            </li>
            {%endif%}

            <li class="next">

                {%if page >= pages%}
                <span>没有下一页了</span>
                {%else%}
                <a href="/?category={{category}}&page={{page+1}}">下一页</a>
                {%endif%}

            </li>

        </ul>
    </div>
{%endblock%}