{%extends 'layout.html'%}

{%block content%}
    <div class="listBox">
        <h1 class="tc" id="contentTitle">{{content.title}}</h1>
        <p class="colDefault tc">
            作者：<span class="colInfo">{{content.user.username}}</span> -
            时间：<span class="colInfo">{{content.addTime|date('Y年m月d日 H:i:s', -8*60)}}</span> -
            阅读：<span class="colInfo">{{content.views}}</span> -
            评论：<span class="colInfo" id="messageCount2">{{content.comments.length}}</span>
        </p>
        <p><span class="jianjie">课程简介</span>{{content.description}}</p>
        <p><span class="jianjie">课程Tag</span><span class='kechengtag'>{{content.category.name}}</span></p>
        <div>
            <span class="jianjie">课程封面</span>
            <div>
                    <img src="/public/showCover/{{content.coverUrl}}" alt="" width="400px" height="255px" style="display:block;margin:0 auto">
            </div>
        </div>
        <span class="jianjie">视频学习</span>
            <div>
             <video id="example_video_1" class="video-js vjs-default-skin" controls preload="none" width="750" height="500"
                    poster="/public/showCover/{{content.coverUrl}}">
               <source src="/public/showVideo/{{content.videoUrl}}" type="video/mp4">
             </video>
            </div>
        <dfn>
            {{content.content}}
        </dfn>
    </div>
    
    <div class="listBox message">
        <h3 class="textLeft"><strong>评论</strong> <span class="em">一共有 <em id="messageCount">0</em> 条评论</span></h3>

        {% if userInfo._id %}
        <p class="textLeft">您好!  <span class="tobig2">{{userInfo.username}}</span>  ，请提交评论! </p>
        <p class="textLeft clear">
            <textarea id="messageContent"></textarea>
            <input type="hidden" id="contentId" value="{{content.id}}">
            <button id="messageBtn" class="submit">提交</button>
        </p>
        {%else%}
        <p class="bgDanger" style="line-height: 30px;">你还没有登录，请先登录！</p>
        {%endif%}

        <div class="messageList">
        </div>

        <div class="pager">
            <ul class="clear">
                <li class="previous">
                    <a href="">上一页</a>
                </li>
                <li></li>
                <li class="next">
                    <a href="">下一页</a>
                </li>
            </ul>
        </div>

        <!--<div class="messageList">-->
            <!--<div class="messageBox"><p>还没有留言</p></div>-->
        <!--</div>-->

        <!--<div class="messageList" style="display: block;">-->
            <!--<div class="messageBox">-->
                <!--<p class="name clear"><span class="fl">admin</span><span class="fr">2016年07月29日 17:24:01</span></p><p>哈哈</p>-->
            <!--</div>-->
        <!--</div>-->

    </div>

<script src="/public/js/comment.js"></script>

{%endblock%}